<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>625874064464-qc73reh954iket2m12bhtjapngp27hrg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.625874064464-qc73reh954iket2m12bhtjapngp27hrg</string>
	<key>API_KEY</key>
	<string>AIzaSyBmpIHp00WVQ-PRMfuGPQZgqNsA3xQV8ho</string>
	<key>GCM_SENDER_ID</key>
	<string>625874064464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vexere.demo</string>
	<key>PROJECT_ID</key>
	<string>vexere-1d3e6</string>
	<key>STORAGE_BUCKET</key>
	<string>vexere-1d3e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:625874064464:ios:6b67c49f83b4ed7c6c6d55</string>
	<key>DATABASE_URL</key>
	<string>https://vexere-1d3e6.firebaseio.com</string>
</dict>
</plist>